
*{
	padding: 0;
	margin: 0;
}
html,body{
	height: 100%;
	width: 100%;
	/*Roboto font*/
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
}

input:focus,button:focus{outline: none;}

#background{
	height:100%;
	width:100%;
	background: url(img/bg_1.jpg) no-repeat center center fixed;
	/*background: url(img/bg.png) no-repeat center center fixed;*/
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  opacity: 1;
}

#map_bg{height: 100%; width: 100%;}

#blackopacity{
	height: 100%;
	width: 100%;
	opacity:0.4; 
	background-color: #000;
	/*Pattern bg*/
	/*background: url(img/pattern.png) repeat fixed;*/
	background-size: 5px 5px;
}

#searchBox{
	opacity: 1;
	text-align: center;
	height: 52px;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

#searchField, #searchBtn{
	/*how about having a drop shadow on the search box?*/
	box-shadow: 3px 3px 10px #494949;
}

#searchField {
	width: 300px;
	height: 50px;
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
	font-weight: 100;
	padding-left: 10px;
	border: 1px solid #fff;
	vertical-align: top;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	display: inline-block;
}

#searchField:focus{
	outline: none;
}

#searchBtn {
	font-size: 1.5em;
	color: #fff;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border: 1px solid #FFA028;
	height: 52px;
	width: 80px;
	display: inline-block;
	background-color: #FFA028;
	outline: none;

	/*Set BG as search glass?*/
	background: url(img/search.png) no-repeat center center;
	background-color: #FFA028;
	background-size: 50px auto;
}

#searchBtn:hover{
	cursor: pointer;
	border: 1px solid #FF8328;
	background-color: #FF8328;
	transition: 0.5s;
}

#searchBtn:active{
	transition: 0.25s;
}

#geoBtn{
	background: none;
	border: 0;
	margin-left: 20px;
	vertical-align: top;
	cursor: pointer;
	height: 52px;
}
#geoBtn img{
	height: 52px;
	width: auto;
}
#geoBtn img:hover{
	/*transform: rotate(20deg);*/

	/*start the geo jump*/
	-webkit-animation:bounce 0.7s linear;
    -moz-animation:bounce 0.7s linear;
    animation:bounce 0.7s linear infinite;
}
/*Make the geolocation marker jump*/
@-moz-keyframes bounce{ 100% {-moz-transform:translateY(-5px);} }
@-webkit-keyframes bounce{ 100% {-webkit-transform:translateY(-5px);} }
@keyframes bounce{
	0% {transform:translateY(0px);}
	12,5% {transform:translateY(-2.5px);} 
	25% {transform:translateY(-5px);} 
	37,5% {transform:translateY(-2.5px);} 
	50% {transform:translateY(0px);} 
	62,5% {transform:translateY(2.5px); transform:scaleY(0.99);} 
	75% {transform:translateY(5px); transform:scaleY(0.95);} 
	87,5% {transform:translateY(2.5px); transform:scaleY(0.99);} 
	100% {transform:translateY(0px);}
}

#geoBtn:hover > .message{
	display: none;
}

.message{
	display: none;
	position: absolute;
	color: #fff;
	font-size: 16px;
	font-weight: 100;
}




h1{
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 3em;
	position: absolute;
	top: 5%;
	left: 10%;
}





