
*{
	padding: 0;
	margin: 0;
}
html,body{
	height: 100%;
	width: 100%;
	/*Roboto font*/
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input:focus,button:focus{outline: none;}

.transparent{background: none;}

header{
	height: 60px; 
	background-color: #515151;
}

#logo{
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 3em;
	position: absolute;
	top: 12px;
	left: 10%;
}

#container{
	position: relative;
	height: 100%;
	width: 100%;
}

#content{
	position: relative;
	z-index: 100;
	height: 100%;
	width: 100%;
}

#background{
	position: absolute;
	top: 0;
	left: 0;
	z-index: -100;
	height:100%;
	width:100%;
	background: url('../img/bg_1.jpg') no-repeat center center fixed;
	/*background: url(../img/bg.png) no-repeat center center fixed;*/
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  opacity: 1;
}

#map_bg{height: 100%; width: 100%;}

#blackopacity{
	height: 100%;
	width: 100%;
	opacity:0.4; 
	background-color: #000;
	/*Pattern bg*/
	/*background: url(img/pattern.png) repeat fixed;*/
	background-size: 5px 5px;
}

#searchBox{
	opacity: 1;
	text-align: center;
	height: 52px;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

#searchField, #searchBtn{
	/*how about having a drop shadow on the search box?*/
	box-shadow: 3px 3px 10px #494949;
}

#searchField {
	width: 300px;
	height: 50px;
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
	font-weight: 100;
	padding-left: 10px;
	border: 1px solid #fff;
	vertical-align: top;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	display: inline-block;
}

#searchField:focus{
	outline: none;
}

#searchBtn {
	font-size: 1.5em;
	color: #fff;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border: 1px solid #FFA028;
	height: 52px;
	width: 80px;
	display: inline-block;
	background-color: #FFA028;
	outline: none;

	/*Set BG as search glass?*/
	background: url("../img/search.png") no-repeat center center;
	background-color: #FFA028;
	background-size: 50px auto;
}

#searchBtn:hover{
	cursor: pointer;
	border: 1px solid #FF8328;
	background-color: #FF8328;
	transition: 0.5s;
}

#searchBtn:active{
	transition: 0.25s;
}

#geoBtn{
	background: none;
	border: 0;
	padding-left: 20px;
	vertical-align: top;
	cursor: pointer;
	height: 52px;
}
#geoBtn img{
	height: 52px;
	width: auto;
}
#geoBtn img:hover{
	/*transform: rotate(20deg);*/

	/*start the geo jump*/
	-webkit-animation:bounce 0.7s linear infinite;
    -moz-animation:bounce 0.7s linear infinite;
    animation:bounce 0.7s linear infinite;
}


#geoBtn:hover > .message{
	display: none;
}

#map{height: calc(100% - 60px);}

#station{
	display: none;
	position: fixed;
	height: 50%;
	width: 50%;
	left: 25%;
	top: 25%;
	background-color: #fff;
	overflow: scroll;
}
.stationBanner{
	width: 100%;
	height: 36px;
	text-align: center;
	padding-top: 10px;
}

.show{display: block;}

/*---------------------ANIMATIONS----------------------*/

/*Make the geolocation marker jump*/
@-moz-keyframes bounce{
	0% {-moz-transform:translateY(0px);}
	12,5% {-moz-transform:translateY(-2.5px);} 
	25% {-moz-transform:translateY(-5px);} 
	37,5% {-moz-transform:translateY(-2.5px);} 
	50% {-moz-transform:translateY(0px);} 
	62,5% {-moz-transform:translateY(2.5px); transform:scaleY(0.99);} 
	75% {-moz-transform:translateY(5px); transform:scaleY(0.95);} 
	87,5% {-moz-transform:translateY(2.5px); transform:scaleY(0.99);} 
	100% {-moz-transform:translateY(0px);}
}
@-webkit-keyframes bounce{
	0% {-webkit-transform:translateY(0px);}
	12,5% {-webkit-transform:translateY(-2.5px);} 
	25% {-webkit-transform:translateY(-5px);} 
	37,5% {-webkit-transform:translateY(-2.5px);} 
	50% {-webkit-transform:translateY(0px);} 
	62,5% {-webkit-transform:translateY(2.5px); transform:scaleY(0.99);} 
	75% {-webkit-transform:translateY(5px); transform:scaleY(0.95);} 
	87,5% {-webkit-transform:translateY(2.5px); transform:scaleY(0.99);} 
	100% {-webkit-transform:translateY(0px);}
}
@keyframes bounce{
	0% {transform:translateY(0px);}
	12,5% {transform:translateY(-2.5px);} 
	25% {transform:translateY(-5px);} 
	37,5% {transform:translateY(-2.5px);} 
	50% {transform:translateY(0px);} 
	62,5% {transform:translateY(2.5px); transform:scaleY(0.99);} 
	75% {transform:translateY(5px); transform:scaleY(0.95);} 
	87,5% {transform:translateY(2.5px); transform:scaleY(0.99);} 
	100% {transform:translateY(0px);}
}



